mixin formulario(producto={})
	form(method="post",action="/productos/agregar")
		div.input-text
			label(for="nombre") Nombre del producto
			input(type="text",name="nombre",id="nombre")
		div.input-text
			button.btn.waves-effects.waves-light(type="submit") Grabar