doctype html
html
	head
		title
		link(rel="stylesheet",href="/js/vendors/materialize/css/materialize.min.css")
		script(src="/js/vendors/materialize/js/materialize.min.js")
	body
		nav
			div.nav-wrapper
				a.brand-logo(href="#") Logo
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a(href="/multicines") Multicines
					li
						a(href="/multicines/add") Agregar
		block contenido