extends base

include mixins/_formulario

block contenido
	h1 #{tituloPagina.toUpperCase()}

	table
		thead
			tr
				th ID
				th Producto
		tbody
			if lista.length > 5
				each item in lista
					tr
						td= item.id
						td= item.nombre
			else
				p 
				| Solo hay 5 รณ menos productos
	+formulario()